body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: black;
  }
  .move-btn>button{
    width: 20px;
}
  button {
    width: 100px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(224, 13, 13);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  button.hover{
      cursor: pointer;
      background-color: antiquewhite;
  }
  
  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#000208;
  }
  #container {
    width: 770px;
  }
  
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 50px;
    padding-left: 20px;
    padding-top: 15px;
    height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(10, 0, 0);
    margin: 10px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aqua;
  
    
  }
  .day:hover {
    background-color: #35f1f1fb;
    color: #000402;
  }
  
  .day + #currentDay {
    background-color:#165476;
  }
  .event {
    font-size: 10px;
    
    background-color: #00000068;
    color: rgb(14, 231, 234);
     margin: 2px 10px 2px -10px;
    max-height: 55px;
    overflow: hidden;
  }
  .event:hover {
    background-color: #35f1f1fb;
    color: #000402;
  }
  .padding {
    cursor: default !important;
    background-color: black !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #11a3c7;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(7, 6, 6, 0.8);
  }
